.save {
    float: right;
    margin-top: 25px;
}

.unsave {
    float: right;
    margin-top: 25px;
}

.noteBtn {
    float: right;
    margin-right: 10px;
    margin-top: 25px;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

.jumbotron {
    background: url("/travel.jpg");
    padding-bottom: 430px;
}

#copy {
    text-align: center;
}

.footer {
    border-color: #e7e7e7;
    background-color: #e7e7e7;
    padding-top: 20px;
    padding-bottom: 10px;
}

.list-group-item {
    padding-bottom: 25px;
}

.note-delete {
    float: right;
    background-color: dimgrey;
    border-color: dimgrey;
}

